body{
    background-color: beige;
}
h2{
    color: rgb(95, 17, 17);
}
h1{
    color: rgb(59, 23, 23);
}
.lista1{
    list-style-type: square;
}
.lista2{
    list-style-type: upper-roman;
}
.lista3{
    list-style-image: url("icone.png");
}
.tabela{
    border-collapse: collapse;
    width:30%;
}
.tabela th, .tabela td{
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

.tabela tr:nth-child(even){
    background-color: #f2f2f2;
}